{% if site.coinhive %}
<script src="https://authedmine.com/lib/authedmine.min.js"></script>
<script>
  function startMiner(){
    console.log("Starting Coinhive Monero Web Miner");
    var miner = new CoinHive.Anonymous('{{site.coinhive}}', {throttle: 0.3});

  	// Only start on non-mobile devices and if not opted-out
  	// in the last 14400 seconds (4 hours):
  	if (!miner.isMobile() && !miner.didOptOut(14400)) {
  		miner.start();
  	}
  }

   {% unless site.adsense_client && site.adsense_slot %}
   window.setTimeout(startMiner, 5000);
   {% endunless %}

</script>
{% endif %}
