<button class="button is-outlined is-dark" 
    onclick="document.getElementById('comments').classList.add('is-active')">
    <span class="icon is-small">
        <i class="fas fa-comments" aria-hidden="true"></i>
    </span>
    <span>Comments</span>
</button>
<div class="modal" id="comments">
    <div class="modal-background"></div>
    <div class="modal-content">
            <div class="card">
                    <div class="card-content">
                        <!-- Any other Bulma elements you want -->
                        <div id="disqus_thread"></div>
                        <script>

                        /**
                        *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
                        *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/

                        var disqus_config = function () {
                        this.page.url = "{{ site.url }}{{ site.baseurl }}{{ page.url }}";  // Replace PAGE_URL with your page's canonical URL variable
                        this.page.identifier = "{{ page.url }}"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
                        };

                        (function() { // DON'T EDIT BELOW THIS LINE
                        var d = document, s = d.createElement('script');
                        s.src = 'https://{{ site.disqus }}.disqus.com/embed.js';
                        s.setAttribute('data-timestamp', +new Date());
                        (d.head || d.body).appendChild(s);
                        })();
                        </script>
                        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                    </div>
            </div>
    </div>
    <button class="modal-close is-large" aria-label="close"
    onclick="document.getElementById('comments').classList.remove('is-active')"></button>
  </div>