<head>
  <!-- METAS -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ page.title }} | {{ site.title }}</title>

  <!-- METAS - Open Graph Protocol -->
  <meta property="og:site_name" content="{{ site.title }}" />
  {% if page.title %}
  <meta property="og:title" content="{{ page.title }}" />
  {% endif %}
  {% if page.image %}
  <meta property="og:image" content="{{ page.image }}" />
  {% endif %}
  <meta property="og:url" content="{{ site.url }}{{ site.baseurl }}{{ page.url }}" />

  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/vanilla.min.css" />
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/fontawesome-all.min.css" />
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/style.css" />
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/highlighter.css" />

</head>
