<div id="searchSection" hidden="true">
  <div>
    <div class="searchBar">
      <button onclick="toggleSearch()" class="button-white-noborder"><i class="fa fa-arrow-left" aria-hidden="true"></i></button>
      <input class="input-white" type="text" id="searchInput" placeholder="Search..." onchange="searchPosts()"/>
      <button onclick="clearSearchInput()" class="button-white-noborder"><i class="fa fa-times" aria-hidden="true"></i></button>
    </div>
    <div id="searchResults">
    </div>
  </div>
</div>
<script>
    var posts;
    function searchPosts(){
      var searchkeyword = document.getElementById('searchInput').value;
      results = new Array;
      if(posts==undefined){
        fetch('{{ site.baseurl }}/search.json')
          .then(function(response) {
            response.json().then((json)=>{
              posts=json;
              filterResults(searchkeyword);
            });
          })
      }else{
        filterResults(searchkeyword);
      }
    }
    function filterResults(keyword){
      var results = document.getElementById('searchResults');
      results.innerHTML = "";
      if(keyword==""||keyword==undefined){
        return;
      }
      for(var i=0; i<posts.length; i++){
        console.log(keyword);
        console.log(typeof(keyword));
        console.log(posts[i]);
        if(posts[i].title.includes(keyword) ||
            posts[i].tags.includes(keyword) ||
            posts[i].url.includes(keyword) ||
            posts[i].date.includes(keyword)){
              results.innerHTML += `<p>${posts[i].date} |
              <a href="${posts[i].url}">${posts[i].title}</a></p>`;
            }
      }
    }
    function clearSearchInput(){
      document.getElementById('searchInput').value = "";
    }
    function toggleSearch(){
      var searchSection = document.getElementById('searchSection');
      var bodySection = document.getElementById('body');
      searchSection.hidden = !searchSection.hidden;
      bodySection.hidden = !bodySection.hidden;
    }
  </script>
