<span class="p-contextual-menu--left">
    <button class="p-button--netural" onclick="toggleMenu(this)"
      aria-controls="#share-menu" aria-expanded="false" aria-haspopup="true">
      <span>
          <i class="p-icon--share"></i> Share
      </span>
      </button>
    <span class="p-contextual-menu__dropdown" id="share-menu" aria-hidden="true" aria-label="submenu">
      <span class="p-contextual-menu__group">
          <a href="https://plus.google.com/share?url={{ site.url }}{{ site.baseurl }}{{ page.url }}"
           class="p-contextual-menu__link">
           <i class="fab fa-google-plus"></i> Google Plus
          </a>
          <a href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ site.baseurl }}{{ page.url }}" 
          class="p-contextual-menu__link">
            <i class="fab fa-facebook"></i> Facebook
          </a>
          <a href="https://twitter.com/intent/tweet?text={{ page.title }} {{ site.url }}{{ site.baseurl }}{{ page.url }}"
           class="p-contextual-menu__link">
            <i class="fab fa-twitter"></i> Twitter
          </a>
          <a onclick="prompt('Copy This URL','{{ site.url }}{{ site.baseurl }}{{ page.url }}')" 
          class="p-contextual-menu__link">
            <i class="fas fa-link"></i> Copy URL
          </a>
      </span>
    </span>
    </span>