<script type="text/javascript" src='{{ "/js/ubuntukr.js" | relURL }}'></script>
<script type="text/javascript" src='{{ "/js/timedisplay.js" | relURL }}'></script>
<script>

let slides = document.getElementsByClassName("main-slide");
let index = 0;
let count = slides.length;
function setSlideIndex(destination) {
    index = destination % count;
    index = index < 0 ? index * -1 : index;
    for (let i = 0; i < count; i++) {
        if(i == index) {
            slides[i].style.display = "block";
        } else {
            slides[i].style.display = "none";
        }
    }
}
function nextSlide() {
    setSlideIndex(index + 1);
}
function prevSlide() {
    setSlideIndex(index - 1);
}
setSlideIndex(0);
setInterval(nextSlide, 5000);
</script>

{{ template "_internal/google_analytics.html" . }}