@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

pre, code{
  background-color: #fdf6e3;
  font-family: 'Source Code Pro';
}
pre{
  padding: 16px;
  font-family: 'Source Code Pro';
  overflow: auto;
}
.highlight .hll { background-color: #ffffcc; font-family: 'Source Code Pro';}
.highlight .c { color: #8f5902; font-style: italic ; font-family: 'Source Code Pro';} /* Comment */
.highlight .err { color: #a40000; border: 1px solid #ef2929 ; font-family: 'Source Code Pro';} /* Error */
.highlight .g { color: #000000 ; font-family: 'Source Code Pro';} /* Generic */
.highlight .k { color: #204a87; font-weight: bold ; font-family: 'Source Code Pro';} /* Keyword */
.highlight .l { color: #000000 ; font-family: 'Source Code Pro';} /* Literal */
.highlight .n { color: #000000 ; font-family: 'Source Code Pro';} /* Name */
.highlight .o { color: #ce5c00; font-weight: bold ; font-family: 'Source Code Pro';} /* Operator */
.highlight .x { color: #000000 ; font-family: 'Source Code Pro';} /* Other */
.highlight .p { color: #000000; font-weight: bold ; font-family: 'Source Code Pro';} /* Punctuation */
.highlight .cm { color: #8f5902; font-style: italic ; font-family: 'Source Code Pro';} /* Comment.Multiline */
.highlight .cp { color: #8f5902; font-style: italic ; font-family: 'Source Code Pro';} /* Comment.Preproc */
.highlight .c1 { color: #8f5902; font-style: italic ; font-family: 'Source Code Pro';} /* Comment.Single */
.highlight .cs { color: #8f5902; font-style: italic ; font-family: 'Source Code Pro';} /* Comment.Special */
.highlight .gd { color: #a40000 ; font-family: 'Source Code Pro';} /* Generic.Deleted */
.highlight .ge { color: #000000; font-style: italic ; font-family: 'Source Code Pro';} /* Generic.Emph */
.highlight .gr { color: #ef2929 ; font-family: 'Source Code Pro';} /* Generic.Error */
.highlight .gh { color: #000080; font-weight: bold ; font-family: 'Source Code Pro';} /* Generic.Heading */
.highlight .gi { color: #00A000 ; font-family: 'Source Code Pro';} /* Generic.Inserted */
.highlight .go { color: #000000; font-style: italic ; font-family: 'Source Code Pro';} /* Generic.Output */
.highlight .gp { color: #8f5902 ; font-family: 'Source Code Pro';} /* Generic.Prompt */
.highlight .gs { color: #000000; font-weight: bold ; font-family: 'Source Code Pro';} /* Generic.Strong */
.highlight .gu { color: #800080; font-weight: bold ; font-family: 'Source Code Pro';} /* Generic.Subheading */
.highlight .gt { color: #a40000; font-weight: bold ; font-family: 'Source Code Pro';} /* Generic.Traceback */
.highlight .kc { color: #204a87; font-weight: bold ; font-family: 'Source Code Pro';} /* Keyword.Constant */
.highlight .kd { color: #204a87; font-weight: bold ; font-family: 'Source Code Pro';} /* Keyword.Declaration */
.highlight .kn { color: #204a87; font-weight: bold ; font-family: 'Source Code Pro';} /* Keyword.Namespace */
.highlight .kp { color: #204a87; font-weight: bold ; font-family: 'Source Code Pro';} /* Keyword.Pseudo */
.highlight .kr { color: #204a87; font-weight: bold ; font-family: 'Source Code Pro';} /* Keyword.Reserved */
.highlight .kt { color: #204a87; font-weight: bold ; font-family: 'Source Code Pro';} /* Keyword.Type */
.highlight .ld { color: #000000 ; font-family: 'Source Code Pro';} /* Literal.Date */
.highlight .m { color: #0000cf; font-weight: bold ; font-family: 'Source Code Pro';} /* Literal.Number */
.highlight .s { color: #4e9a06 ; font-family: 'Source Code Pro';} /* Literal.String */
.highlight .na { color: #c4a000 ; font-family: 'Source Code Pro';} /* Name.Attribute */
.highlight .nb { color: #204a87 ; font-family: 'Source Code Pro';} /* Name.Builtin */
.highlight .nc { color: #000000 ; font-family: 'Source Code Pro';} /* Name.Class */
.highlight .no { color: #000000 ; font-family: 'Source Code Pro';} /* Name.Constant */
.highlight .nd { color: #5c35cc; font-weight: bold ; font-family: 'Source Code Pro';} /* Name.Decorator */
.highlight .ni { color: #ce5c00 ; font-family: 'Source Code Pro';} /* Name.Entity */
.highlight .ne { color: #cc0000; font-weight: bold ; font-family: 'Source Code Pro';} /* Name.Exception */
.highlight .nf { color: #000000 ; font-family: 'Source Code Pro';} /* Name.Function */
.highlight .nl { color: #f57900 ; font-family: 'Source Code Pro';} /* Name.Label */
.highlight .nn { color: #000000 ; font-family: 'Source Code Pro';} /* Name.Namespace */
.highlight .nx { color: #000000 ; font-family: 'Source Code Pro';} /* Name.Other */
.highlight .py { color: #000000 ; font-family: 'Source Code Pro';} /* Name.Property */
.highlight .nt { color: #204a87; font-weight: bold ; font-family: 'Source Code Pro';} /* Name.Tag */
.highlight .nv { color: #000000 ; font-family: 'Source Code Pro';} /* Name.Variable */
.highlight .ow { color: #204a87; font-weight: bold ; font-family: 'Source Code Pro';} /* Operator.Word */
.highlight .w { color: #f8f8f8; text-decoration: underline ; font-family: 'Source Code Pro';} /* Text.Whitespace */
.highlight .mf { color: #0000cf; font-weight: bold ; font-family: 'Source Code Pro';} /* Literal.Number.Float */
.highlight .mh { color: #0000cf; font-weight: bold ; font-family: 'Source Code Pro';} /* Literal.Number.Hex */
.highlight .mi { color: #0000cf; font-weight: bold ; font-family: 'Source Code Pro';} /* Literal.Number.Integer */
.highlight .mo { color: #0000cf; font-weight: bold ; font-family: 'Source Code Pro';} /* Literal.Number.Oct */
.highlight .sb { color: #4e9a06 ; font-family: 'Source Code Pro';} /* Literal.String.Backtick */
.highlight .sc { color: #4e9a06 ; font-family: 'Source Code Pro';} /* Literal.String.Char */
.highlight .sd { color: #8f5902; font-style: italic ; font-family: 'Source Code Pro';} /* Literal.String.Doc */
.highlight .s2 { color: #4e9a06 ; font-family: 'Source Code Pro';} /* Literal.String.Double */
.highlight .se { color: #4e9a06 ; font-family: 'Source Code Pro';} /* Literal.String.Escape */
.highlight .sh { color: #4e9a06 ; font-family: 'Source Code Pro';} /* Literal.String.Heredoc */
.highlight .si { color: #4e9a06 ; font-family: 'Source Code Pro';} /* Literal.String.Interpol */
.highlight .sx { color: #4e9a06 ; font-family: 'Source Code Pro';} /* Literal.String.Other */
.highlight .sr { color: #4e9a06 ; font-family: 'Source Code Pro';} /* Literal.String.Regex */
.highlight .s1 { color: #4e9a06 ; font-family: 'Source Code Pro';} /* Literal.String.Single */
.highlight .ss { color: #4e9a06 ; font-family: 'Source Code Pro';} /* Literal.String.Symbol */
.highlight .bp { color: #3465a4 ; font-family: 'Source Code Pro';} /* Name.Builtin.Pseudo */
.highlight .vc { color: #000000 ; font-family: 'Source Code Pro';} /* Name.Variable.Class */
.highlight .vg { color: #000000 ; font-family: 'Source Code Pro';} /* Name.Variable.Global */
.highlight .vi { color: #000000 ; font-family: 'Source Code Pro';} /* Name.Variable.Instance */
.highlight .il { color: #0000cf; font-weight: bold ; font-family: 'Source Code Pro';} /* Literal.Number.Integer.Long */
