---
layout: default
---
<section class="p-strip--image is-light" 
style="background-image:url('https://assets.ubuntu.com/sites/ubuntu/latest/u/img/backgrounds/image-background-paper.png')">
  <div class="row">
    <div class="col-12">
      {% include menu.html %}
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <h2>{{ site.title_long }}</h2>
      <p>{{ site.description | markdownify }}</p>
    </div>
  </div>
</section>
<div class="container">
    <div class="row">
        <div class="col-12">
    {% for post in paginator.posts %}
    <a href="{{site.baseurl}}{{post.url}}"><h3>{{post.title}}</h3></a>
    <p>{{ post.content | strip_html | truncate:150}}</p>
    <p>{% for author in post.authors %}{{author.name}}{% unless forloop.last %},{% endunless %}{% endfor %}<br>
      {{ post.date | date: "%Y.%m.%d" }}</p>
    {% unless forloop.last %}<hr>{% endunless %}
    {% endfor %}
    </div>
    <footer class="p-pagination">
        <a class="p-pagination__link--previous" href="{{ site.baseurl }}{{ paginator.previous_page_path }}">
          <span class="p-pagination__label">Previous</span>
          <span class="p-pagination__title">See old posts</span>
        </a>
        <a class="p-pagination__link--next" href="{{ site.baseurl }}{{ paginator.next_page_path }}">
          <span class="p-pagination__label">Next</span>
          <span class="p-pagination__title">See latest posts</span>
        </a>
      </footer>
      <footer class="p-footer">
          <p>
            {{site.footer | markdownify }}
          </p>
        </footer>
    </div>
</div>
