---
layout: default
---

<section class="p-strip--image is-light" 
style="background-image:url('https://assets.ubuntu.com/sites/ubuntu/latest/u/img/backgrounds/image-background-paper.png')">
  <div class="row">
    <div class="col-12">
      {% include menu.html %}
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <h2>{{ page.title }}</h2>
    </div>
  </div>
</section>
<div class="container">
    <div class="row">
        <div class="col-12">
    {{content}}


      </div>
      <footer class="p-footer">
          <p>
            {{site.footer | markdownify }}
          </p>
        </footer>
    </div>
</div>