---
layout: default
---
<section class="p-strip--image is-light" 
style="background-image:url('https://assets.ubuntu.com/sites/ubuntu/latest/u/img/backgrounds/image-background-paper.png')">
  <div class="row">
    <div class="col-12">
      {% include menu.html %}
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <h2>{{ page.title }}</h2>
      <p>{% for author in page.authors %}{{author.name}}{% unless forloop.last %},{% endunless %}{% endfor %}<br>
        {{ page.date | date: "%Y.%m.%d" }}</p>
      <p>{% for tag in page.tags %}<a href="">#{{tag}}</a> {% endfor %}</p>
    </div>
  </div>
</section>
<div class="container">
    <div class="row">
        <div class="col-12">
    {{page.content}}
    <hr>
    {% include sharebtn.html %}
        <h3>Authors</h3>
        {% for author in page.authors %}
        <div class="p-media-object">
            <img src="{{author.profile}}" class="p-media-object__image is-round">
            <div class="p-media-object__details">
              <h3 class="p-media-object__title">
                {{author.name}}
              </h3>
              <ul class="p-media-object__meta-list">
                <li>{{author.bio}}</li>
                <li><a href="mailto:{{author.email}}">{{author.email}}</a></li>
                <li><a href="https://launchpad.net/~{{author.launchpad}}">Launchpad</a>, <a href="https://github.com/{{author.github}}">GitHub</a></li>
              </ul>
            </div>
          </div>
        {% endfor %}
      
    <footer class="p-pagination">
        {% if page.previous.url %}
        <a class="p-pagination__link--previous" href="{{site.baseurl}}{{page.previous.url}}">
          <span class="p-pagination__label">{{ page.previous.date | date: "%Y.%m.%d" }}</span>
          <span class="p-pagination__title">{{ page.previous.title }}</span>
        </a>
        {% endif %}
        {% if page.next.url %}
        <a class="p-pagination__link--next" href="{{site.baseurl}}{{page.next.url}}">
          <span class="p-pagination__label">{{ page.next.date | date: "%Y.%m.%d" }}</span>
          <span class="p-pagination__title">{{ page.next.title }}</span>
        </a>
        {% endif %}
      </footer>
      </div>
      <footer class="p-footer">
          <p>
            {{site.footer | markdownify }}
          </p>
        </footer>
    </div>
</div>