---
layout: page
---

    {% for tag in site.tags %}
      <a class="button is-rounded is-dark is-outlined" href="#{{ tag | first }}">#{{ tag | first }}</a>
    {% endfor %}

    {% for tag in site.tags %}
      <h2 id="{{ tag | first }}">#{{ tag | first }}</h2>
      <ul>
    {% for posts in tag %}
      {% for post in posts %}
      {% if post.title %}
      <li>{{ post.date | date: "%Y.%m.%d" }} | <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>{% if post.author %} | {{ post.author }} {% endif %}</li>
      {% endif %}
      {% endfor %}
    {% endfor %}
  </ul>
{% endfor %}
